streamlit>=1.42
langchain>=0.3
langchain-community>=0.3
chromadb>=0.5
sentence-transformers>=3.0
transformers>=4.45
torch>=2.0
plotly==5.22.0
kaleido==0.2.1
pandas>=2.2
python-dotenv==1.0.1
pypdf>=4.2
requests==2.32.3
google-generativeai>=0.8
python-docx>=1.1
markdown>=3.6
weasyprint>=62.3
